<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PersonalizedSkincareProductsRecommendation"
        tools:targetApi="31">
        <activity
            android:name=".AdminEditProducts"
            android:exported="false" />
        <activity
            android:name=".ProductDetails"
            android:exported="false" />
        <activity
            android:name=".SkinLogDetails"
            android:exported="false" />
        <activity
            android:name=".SkinAnalysisResult"
            android:exported="false" />
        <activity
            android:name=".TipDetails"
            android:exported="false" />
        <activity
            android:name=".AdminAddProducts"
            android:exported="false" />
        <activity
            android:name=".AdminEditContent"
            android:exported="false" />
        <activity
            android:name=".AdminManageContent"
            android:exported="false" />
        <activity
            android:name=".AdminViewUserProfile"
            android:exported="false" />
        <activity
            android:name=".AdminAccountSetting"
            android:exported="false" />
        <activity
            android:name=".AdminViewDashboard"
            android:exported="false" />
        <activity
            android:name=".AdminManageProducts"
            android:exported="false" />
        <activity
            android:name=".AdminViewFeedback"
            android:exported="false" />
        <activity
            android:name=".AdminManageProfile"
            android:exported="false" />
        <activity
            android:name=".AdminAddContent"
            android:exported="false" />
        <activity
            android:name=".AdminDashboard"
            android:exported="false"
            android:label="" />
        <activity
            android:name=".Notification"
            android:exported="false" />
        <activity
            android:name=".SkinLog"
            android:exported="false" />
        <activity
            android:name=".NightReminder"
            android:exported="false" />
        <activity
            android:name=".AfternoonReminder"
            android:exported="false" />
        <activity
            android:name=".MorningReminder"
            android:exported="false" />
        <activity
            android:name=".SkinTypeQuiz4"
            android:exported="false" />
        <activity
            android:name=".SkinTypeQuiz3"
            android:exported="false" />
        <activity
            android:name=".SkinTypeQuiz2"
            android:exported="false" />
        <activity
            android:name=".SkinTypeQuiz1"
            android:exported="false" />
        <activity
            android:name=".SkinType"
            android:exported="false" />
        <activity
            android:name=".SkinGoals"
            android:exported="false" />
        <activity
            android:name=".EditProfile"
            android:exported="false" />
        <activity
            android:name=".SkinAnalysis"
            android:exported="false" />
        <activity
            android:name=".Homepage"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="default_notification_channel_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver android:name=".NotificationReceiver" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.personalizedskincareproductsrecommendation.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
    </application>

</manifest>